<app-menu-nav></app-menu-nav>
<app-breadcrumb
  [firstItem]="{ name: 'Home', link: '/home' }"
  [items]="[
    { name: 'Livros', link: '/livros' },
  ]"
  [currentItem]="{ name: 'Consultar' }"
>
</app-breadcrumb>

<app-conteudo>
  <app-fieldset
    legend='filtros'>
    <div class="fieldset-content">
      <div class="filtros">
        <app-filtro-livro-kit-livro></app-filtro-livro-kit-livro>
      </div>

      <div class="botoes">
        <app-botoes></app-botoes>
      </div>
    </div>
  </app-fieldset>
</app-conteudo>
