<app-menu-nav></app-menu-nav>

<app-breadcrumb
  [firstItem]="{ name: 'Home', link: '/home' }"
  [items]="[
    { name: 'Turmas', link: '/turma' },
  ]"
  [currentItem]="{ name: 'Consultar' }"
>
</app-breadcrumb>

<app-conteudo>
  <app-messages></app-messages>

  <app-fieldset
    legend='filtros'
  >
    <form class="fieldset-content" [formGroup]="turmaForm">
      <div class="filtros">
        <div class="filtro">
          <div class="div-content">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome" style="width: 20em" formControlName="nome">
          </div>

          <div class="div-content" style="width: 40%">
            <label for="serieId">Série:</label>
            <select name="serieId" id="serieId" formControlName="serieId">
              <option style="display: none">Selecione uma opção</option>
              <option *ngFor="let serie of series" [value]="serie.id">{{ serie.value }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="botoes">
        <button
          class="button-filter"
          type="submit"
          [disabled]="!filtrosPreenchidos()"
          [ngClass]="filtrosPreenchidos() ? 'button-filter' : 'button-filter-desabilitado'"
          (click)="filtrar()"
        >
          <fa-icon [icon]="faFilter"></fa-icon>
          Filtrar
        </button>
        <button
          class="button-clear"
          type="button"
          (click)="limparFiltros()"
        >
          <fa-icon [icon]="faBroom"></fa-icon>
          Limpar
        </button>
      </div>
    </form>
  </app-fieldset>

  <app-botao-cadastrar link="/turma/cadastrar"></app-botao-cadastrar>

  <app-tabela-generica
    [displayedColumns]="displayedColumnsTurma"
    [columnNames]="LISTAGEM_TURMA"
    [dataSource]="dataSourceTurma"
    [totalElements]="totalElementsTurma"
    [pageSize]="pageSizeTurma"
    [pageIndex]="pageIndexTurma"
    editPath="turma/editar"
    (pageChange)="onPageChangeTurma($event)"
    [component]="getSeletorComponent()">
  </app-tabela-generica>
</app-conteudo>

<app-footer></app-footer>
