footer {
  background-color: #DB6931;
  color: #ffffff;
}

.section_footer {
  margin-top: 2rem !important;
}

.section_footer_content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  padding-top: 2rem
}

.section_footer_content div {
  width: 20%;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 1.5rem !important;
}

.section_footer_content h6 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
  color: #000;
  letter-spacing: 0.8px;
}

.section_footer_content hr {
  width: 100%;
  color: inherit;
  border: 0;
  opacity: .25;
  height: 2px;
  margin-top: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  display: inline-block !important;
  background-color: #fff;
}

.section_footer_content p {
  text-align: justify;
}

.section_footer_content fa-icon, .section_footer_content svg {
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}

.section_footer_content span {
  margin-left: 5px;
  font-family: "Changa One", sans-serif;
}

.section_footer_content_link:hover {
  cursor: pointer;
  color: #000000;
}

.footer_copyright {
  background-color: #1C2331;
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  justify-content: center;
  gap: 30px;
  margin-top: -1.5em;
}

.footer_dev {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5em;
  font-weight: 500;
}

.footer_copyright img {
  width: 6em;
}
