.form-cadastro-kit {
  padding: 1em .25em;
}

input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  font-size: 14px;
}

label {
  margin-right: 5px;
}

.linha_dados_juntos {
  display: flex;
  align-items: flex-start;
  padding-left: 0.25em;
}

.div-content {
  margin-right: 1em;
}

textarea:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  color: rgba(0, 0, 0, 0.8);
  width: 39%;
  height: 80px;
  resize: none;
  margin-top: 5px;
}

.conteudo_textarea {
  margin-left: 4px;
  margin-top: 10px;
}

.conteudo_botoes {
  display: flex;
  justify-content: flex-end;
}

em {
  font-weight: bolder;
  color: #ff0000;
  font-size: 10px;
  vertical-align: super;
}
