<app-menu-nav></app-menu-nav>

<app-breadcrumb
  [firstItem]="{ name: 'Home', link: '/home' }"
  [items]="[
    { name: 'Turma', link: '/turma' },
    { name: 'Editar', link: '/turma/' },
  ]"
  [currentItem]="{ name: turmaEditar }"
>
</app-breadcrumb>

<app-conteudo>
  <app-messages></app-messages>
  
  <div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Turma">
        <form class="form-atualizacao-turma" [formGroup]="turmaForm" (ngSubmit)="atualizarTurma()">
          <input type="hidden" name="id" id="id" formControlName="id">

          <div class="linha_dados_juntos">
            <div class="div-content" style="width: 40%">
              <label for="nome">Nome: <em>*</em></label>
              <input type="text" name="nome" id="nome" placeholder="Nome" style="width: 88%" formControlName="nome">
              <app-mensagem-erro [control]="obterControle('nome')"></app-mensagem-erro>
            </div>

            <div class="div-content" style="width: 40%">
              <label for="serieId">Série: <em>*</em></label>
              <select name="serieId" id="serieId" formControlName="serieId">
                <option *ngFor="let serie of series" [value]="serie.id">{{ serie.value }}</option>
              </select>
              <app-mensagem-erro [control]="obterControle('serieId')"></app-mensagem-erro>
            </div>
          </div>

          <div class="div-content-data">
            <div class="div-content">
              <label for="dataCadastro">Cadastro:</label>
              <input type="text" class="input_data" name="dataCadastro" id="dataCadastro" formControlName="dataCadastro"
                     readonly>
            </div>

            <div class="div-content">
              <label for="dataAtualizacao">Atualização:</label>
              <input type="text" class="input_data" name="dataAtualizacao" id="dataAtualizacao"
                     formControlName="dataAtualizacao" readonly>
            </div>
          </div>

          <div class="conteudo_botoes">
            <app-botao-salvar
              [disabled]="turmaForm.invalid"
              [buttonClass]="turmaForm.valid ? 'button-cadastro' : 'button-cadastro-desabilitado'"
            >
            </app-botao-salvar>
            <app-botao-voltar (click)="redirect()"></app-botao-voltar>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Alunos">
        <app-tabela-generica
          [displayedColumns]="displayedColumnsAluno"
          [columnNames]="LISTAGEM_ALUNO"
          [dataSource]="dataSourceAluno"
          [totalElements]="totalElementsAluno"
          [pageSize]="pageSizeAluno"
          [pageIndex]="pageIndexAluno"
          (pageChange)="onPageChangeAluno($event)">
        </app-tabela-generica>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-conteudo>

<app-footer></app-footer>
